// font

@font-face {
  font-family: "avpbold";
  src: url("../assets/fonts/AVP-GimbalGrotesqueBold.otf");
}
@font-face {
  font-family: "avpregular";
  src: url("../assets/fonts/AVP-GimbalGrotesqueRegular.otf");
}
@font-face {
  font-family: "avplight";
  src: url("../assets/fonts/AVP-GimbalGrotesqueLight.otf");
}

@font-face {
  font-family: "aravpbold";
  src: url("../assets/fonts/Diodrum-Bold.otf");
}
@font-face {
  font-family: "aravpregular";
  src: url("../assets/fonts/Diodrum-Arabic.otf");
}
@font-face {
  font-family: "aravplight";
  src: url("../assets/fonts/Diodrum-Light.otf");
}

body {
  background-color: #0a152d;
  height: 100%;
  margin: 0;
}

* {
  font-family: "avplight";
}
